<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Burger Bonanza!!</title>
		<link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<!-- Compiled and minified CSS -->
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<!-- Google Font Import / Bowlby One SC and Noto Sans -->
		<link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Noto+Sans" rel="stylesheet">
		<!-- Materialize Icon Set -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Compiled and minified JavaScript -->
		<script src="https://code.jquery.com/jquery.js"></script>
 		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
		<div class="container">
			{{{ body }}}
		</div>


		<footer class="page-footer col s-12 red lighten-1">
            <div class="footer-copyright red darken-1">
              <div class="container">
              	<p style="float:left;">© 2018 Copyright Tonye Praught&nbsp;&nbsp;|&nbsp;&nbsp;UMN Full Stack Coding Boot Camp</p>
                <p style="float:right;"><a class="grey-text text-lighten-4" href="https://github.com/tpraught/burgerBonanza" target="_blank">GitHub Repo</a></p>
              </div>
            </div>
          </footer>
	</body>
</html>
